
<ul class="dropdown-menu overflow-auto" data-bs-spy="scroll" data-bs-offset="20" style="max-height: 200px; max-width:150px">
    @foreach (var category in ViewBag.notifi)
    {
        <li>@category</li>
    }

</ul>