@*@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Profile>
*@
@{
    ViewBag.Title = "About";
}


<style>
    #map {
        height: 400px;
        width: 1000px;
    }
</style>
<br />



<div>
    @Model
</div>
@*<div class="row">

    <div id="container">


        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1BOzf3325XV08x9aMj_kELckTcgL3xrQ&callback=initMap&v=weekly&channel=2" async></script>
         @foreach (var item in Model)
         {
        <script>
            function initMap() {
             const directionsService = new google.maps.DirectionsService();
             const directionsRenderer = new google.maps.DirectionsRenderer();
             const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 6,
                    center: { lat: 41.85, lng: -87.65 },
                });

         directionsRenderer.setMap(map);
         directionsService
             .route({
                 origin: "@item.City @item.Street",
                        destination: "Warszawa",
                        travelMode: google.maps.TravelMode.DRIVING,
                    })
                    .then((response) => {
                         directionsRenderer.setDirections(response);

                         const route = response.routes[0];
                         const summaryPanel = document.getElementById("directions-panel");


                         summaryPanel.innerHTML = "";

                         // For each route, display summary information.
                         for (let i = 0; i < route.legs.length; i++) {
                             const routeSegment = i + 1;

                             summaryPanel.innerHTML +=
                                 "<b>Route Segment: " + routeSegment + "</b><br>";
                             summaryPanel.innerHTML += route.legs[i].start_address + " to ";
                             summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
                             summaryPanel.innerHTML += route.legs[i].distance.text + "<br><br>";
                         }
                     })
                    .catch((e) => window.alert("Directions request failed due to " + status));
                }
        </script>
         }

    </div>
</div>
<div id="directions-panel"></div>*@
