@model IEnumerable<PROJEKT_PZ_NK_v3.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "About";
}

<style>
    #map {
        height: 400px;
        width: 1000px;
    }
</style>
<br />
<div class="row">

    <div id="floating-panel">
        <strong>Start:</strong>
        <select id="start">
            <option value="chicago, il">Chicago</option>
            <option value="st louis, mo">St Louis</option>
            <option value="joplin, mo">Joplin, MO</option>
            <option value="oklahoma city, ok">Oklahoma City</option>
            <option value="amarillo, tx">Amarillo</option>
            <option value="gallup, nm">Gallup, NM</option>
            <option value="flagstaff, az">Flagstaff, AZ</option>
            <option value="winona, az">Winona</option>
            <option value="kingman, az">Kingman</option>
            <option value="barstow, ca">Barstow</option>
            <option value="san bernardino, ca">San Bernardino</option>
            <option value="los angeles, ca">Los Angeles</option>
        </select>
        <br />
        <strong>End:</strong>
        <select id="end">
            <option value="chicago, il">Chicago</option>
            <option value="st louis, mo">St Louis</option>
            <option value="joplin, mo">Joplin, MO</option>
            <option value="oklahoma city, ok">Oklahoma City</option>
            <option value="amarillo, tx">Amarillo</option>
            <option value="gallup, nm">Gallup, NM</option>
            <option value="flagstaff, az">Flagstaff, AZ</option>
            <option value="winona, az">Winona</option>
            <option value="kingman, az">Kingman</option>
            <option value="barstow, ca">Barstow</option>
            <option value="san bernardino, ca">San Bernardino</option>
            <option value="los angeles, ca">Los Angeles</option>
        </select>
    </div>
    <div id="container">


        <div id="map"></div>
        <script>
            let map;
            let marker;
            let geocoder;
            let responseDiv;
            let response;

            function initMap() {
                geocoder = new google.maps.Geocoder();
                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 8,
                    center: { lat: -34.397, lng: 150.644 },
                    mapTypeControl: false,
                });


                marker = new google.maps.Marker({
                    map,
                });
                geocode({ address: "Przywory Duże 101" });
            }

            function geocode(request) {
                geocoder
                    .geocode(request)
                    .then((result) => {
                        const { results } = result;
                        debugger;
                        map.setCenter(results[0].geometry.location);
                        marker.setPosition(results[0].geometry.location);
                        marker.setMap(map);
                        return results;
                    })
                    .catch((e) => {
                        alert("Geocode was not successful for the following reason: " + e);
                    });
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1BOzf3325XV08x9aMj_kELckTcgL3xrQ&callback=initMap&v=weekly&channel=2" async></script>

    </div>
</div>