@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/baza_zwierzeta.png" style="width:100%" />
    <h1>My i nasze Zwierzaki</h1>
</div>

<div class="row" style="margin-bottom:5%">
    <h2 style="margin-bottom:4%" class="center-block"> DLACZEGO WARTO MIEĆ ZWIERZĘ DOMOWE?</h2><p></p>
    <div class="container">
        <div class="col-md-3">
            <b>Pomocne w terapii</b>
            <p>
                Nie bez powodu zwierzęta pomagają ludziom borykającym się z różnorodnymi schorzeniami. Animaloterapia jest od wielu lat metodą uznawaną za niezwykle pomocą w rehabilitacji osób niepełnosprawnych, dotkniętych m.in. zespołem Downa, dziecięcym porażeniem mózgowym czy autyzmem. Bliski kontakt ze zwierzęciem pozwala na rozluźnienie mięśni, przełamywanie lęków oraz polepszenie koordynacji ruchowej.
            </p>
        </div>
        <div class="col-md-3">
            <b>Bogatsze życie towarzyskie</b>
            <p>
                Właściciele psów bardzo często poznają sąsiadów, którzy również regularnie wychodzą na spacer ze swoim pupilem. Bardzo często to zwierzęta są pretekstem do bliższego poznania się. Czworonożny przyjaciel potrafi jak nikt skrócić dystans i sprawić, że rozmowa na temat pobliskiego gabinetu weterynaryjnego czy najlepszej karmy, będzie się kleić!

            </p>
        </div>
        <div class="col-md-3">
            <b>Niższy poziom stresu</b>
            <p>
                Ci, którzy po powrocie z pracy mogą usłyszeć mruczenie lub zobaczyć merdający psi ogon, są szczęśliwsi. Kontakt ze zwierzęciem redukuje poziom stresu i pomaga zapomnieć o stresach związanych z codziennością. Jest to też jeden z lepszych leków na samotność, ponieważ mając w domu zwierzę, zawsze jest się dla niego kimś ważnym i potrzebnym.
            </p>
        </div>
        <div class="col-md-3">
            <b>Ruch to zdrowie</b>
            <p>
                Właściciele psów przynajmniej kilka razy dziennie muszą wyjść ze swoim pupilem na spacer. Dzięki temu pozostają aktywni fizycznie, co przynosi skutek w postaci niższej wagi, lepszej koordynacji ruchowej i możliwości spędzenia czasu na świeżym powietrzu.
            </p>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-8">
        <img src="~/Images/ZwierzetaWSchroniskach.png" class="col-md-12" />
    </div>
    <div class="col-md-4">
        <br />
        <b>Liczba zwierząt przebywających w schroniskach</b>
        <p>
            W 2019 roku w schroniskach dla zwierząt przebywało 105 188 psów oraz 31 116
            kotów. Liczbę zwierząt przebywających w schronisku wykazano jako sumę liczby
            zwierząt przybyłych do schroniska w 2019 r. oraz liczby zwierząt przebywających
            w schronisku na koniec 2018 r.
        </p>
        <p>
            W porównaniu do poprzedniego okresu referencyjnego, w 2019 r. odsetek psów
            przebywających w schroniskach spadł o 2%, zaś odsetek kotów przebywających
            w schroniskach wzrósł o 6%.
        </p>
    </div>
</div>
<br />
<br />

<div class="row" style="margin-bottom:6%">
    <div class="col-md-4">
        <b>Adopcje zwierząt</b>
        <p>
            Dane dotyczące liczby zwierząt przebywających w schroniskach pokazują,
            że liczba ta cały czas pozostaje na wysokim poziomie. Jednakże dostrzegalnym,
            pozytywnym zjawiskiem jest utrzymanie się także wysokiej liczby adopcji zwierząt.
            Na przestrzeni ostatnich lat corocznie do adopcji oddawano ok. 60% zwierząt
            przebywających w schroniskach. Należy wyjaśnić, iż podając liczbę adoptowanych
            zwierząt, uwzględnia się zarówno zwierzęta, które zostały odebrane ze schronisk
            przez swoich dotychczasowych właścicieli, jak również zwierzęta adoptowane przez
            nowych opiekunów.
        </p>
        <p>W 2019 r. ze schronisk dla zwierząt adoptowano:</p>
        <ul>
            <li>66 030 psów, w tym 14 852 psy zostały zwrócone właścicielowi</li>
            <li>20 017 kotów</li>
        </ul>
        <b>
            Dane dotyczące liczby psów i kotów adoptowanych ze schronisk dla
            zwierząt w stosunku do liczby tych zwierząt przebywających w schroniskach,
            przedstawiają zamieszczone poniżej wykresy.
        </b>
    </div>
    <div class="col-md-8">
        <br />
        <img src="~/Images/AdoptowaneZwierzeta.png" class="col-md-12" />
    </div>
</div>
