
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/baza_zwierzeta.png" style="width:100%" />
    <h1>My i nasze Zwierzaki</h1>
</div>

<div class="container" style="padding-left: 0px">
    
</div>
<br />
<div class="row" style="margin-bottom:5%">
    <h2 style="margin-bottom:4%" class="center-block"> DLACZEGO WARTO MIEĆ ZWIERZĘ DOMOWE?</h2><p></p>
    <div class="container">
        <div class="col-md-3">
            <b>Pomocne w terapii</b>
            <p>
                Nie bez powodu zwierzęta pomagają ludziom borykającym się z różnorodnymi schorzeniami. Animaloterapia jest od wielu lat metodą uznawaną za niezwykle pomocą w rehabilitacji osób niepełnosprawnych, dotkniętych m.in. zespołem Downa, dziecięcym porażeniem mózgowym czy autyzmem. Bliski kontakt ze zwierzęciem pozwala na rozluźnienie mięśni, przełamywanie lęków oraz polepszenie koordynacji ruchowej.
            </p>
        </div>
        <div class="col-md-3">
            <b>Bogatsze życie towarzyskie</b>
            <p>
                Właściciele psów bardzo często poznają sąsiadów, którzy również regularnie wychodzą na spacer ze swoim pupilem. Bardzo często to zwierzęta są pretekstem do bliższego poznania się. Czworonożny przyjaciel potrafi jak nikt skrócić dystans i sprawić, że rozmowa na temat pobliskiego gabinetu weterynaryjnego czy najlepszej karmy, będzie się kleić!

            </p>
        </div>
        <div class="col-md-3">
            <b>Niższy poziom stresu</b>
            <p>
                Ci, którzy po powrocie z pracy mogą usłyszeć mruczenie lub zobaczyć merdający psi ogon, są szczęśliwsi. Kontakt ze zwierzęciem redukuje poziom stresu i pomaga zapomnieć o stresach związanych z codziennością. Jest to też jeden z lepszych leków na samotność, ponieważ mając w domu zwierzę, zawsze jest się dla niego kimś ważnym i potrzebnym.
            </p>
        </div>
        <div class="col-md-3">
            <b>Ruch to zdrowie</b>
            <p>
                Właściciele psów przynajmniej kilka razy dziennie muszą wyjść ze swoim pupilem na spacer. Dzięki temu pozostają aktywni fizycznie, co przynosi skutek w postaci niższej wagi, lepszej koordynacji ruchowej i możliwości spędzenia czasu na świeżym powietrzu.
            </p>
        </div>
    </div>
</div>
<br />


